{% extends "layout.html" %}
{% block content %}

<div align="center">
	<h1>Welcome!</h1>
	<p style="padding: 0 50px ">
		We provide an easy-to-use, linked calendar and to-do list for you to organize your chaotic life! The calendar will provide a comprehensive view of your tasks as well as your coming up meetings and events. The to-do list will show you your upcoming tasks, meetings, and events for the week.
	</p>
	<br><br><br>

	{% if current_user.is_authenticated %}
		<div>
            <a href="/calendar" class="myButton">View Calendar</a><br><br>
            <a href="/todo_list" class="myButton">View To Do List</a><br><br>
            <a href="/account" class="myButton">View Account</a><br><br>
      	</div>
	{% else %}
		<a href="/login" class="myButton">Log in!</a><br><br>
		<a href="/register" class="myButton">Need an account?</a>

	{% endif%}
</div>

{% endblock content %}