{% extends "layout.html" %}
{% block content %}

<!---fullcalendar.io--->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" media="print">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

<!---calendar view--->
<div id="main">
<div id="calendar"></div>

<script>
	$(function() {
		
		$('#calendar').fullCalendar({
			
			header: {
				left: 'prev,next',
				center: 'title',
				right: 'month,agendaWeek'
			},
			height: 700,
			editable: false,
			eventLimit: true,
			navLinks: false,
			events:[
			{% for title in titles %}
				{
					title : '{{ titles[loop.index0] }}',
					start : '{{ times[loop.index0] }}',
				},
			{% endfor %}
				{
          			title  : 'filler',
          			start  : '1970-01-01T00:00:00',
        		}
			]
		});
	});
</script>

</div>

{% endblock %}
