{% extends "layout.html" %}
{% block content %}

<!---fullcalendar.io--->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" media="print">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

<!---calendar view--->
<div id="main">
<div id="calendar" class="list-group-flush" style="position: relative; background:white; width:95%; margin:0 auto; padding:30px; top:-30px; border-radius: 4px; border: 1px solid rgb(222, 222, 222);"></div>

<script>
	$(function() {
		
		$('#calendar').fullCalendar({
			
			header: {
				left: 'prev,next',
				center: 'title',
				right: 'month,agendaWeek'
			},
			height: 700,
			editable: false,
			eventLimit: true,
			navLinks: false,
			events:[
			{% for title in titles %}
				{
					title : '{{ titles[loop.index0] }}',
					url: '{{ url_for("view", task_id=ids[loop.index0]) }}',
					start : '{{ times[loop.index0] }}',
				},
			{% endfor %}
				{
          			title  : 'filler',
          			start  : '1970-01-01T00:00:00',
        		}
			],
			eventClick: function(eventObj){
				window.open(eventObj.url);
				return false;
			}

		});
	});
</script>

</div>

{% endblock %}
