{% extends "layout.html" %}
{% block content %}

<!---calendar view--->
<div align="center">
	<h1>Welcome!</h1>
	<p>Get ready to be organized!</p>
	<p>Plan out your schedule with us</p><br>


	{% if current_user.is_authenticated %}
		<div>
			<a href="/calendar" class="myButton">VIEW CALENDAR</a><br><br>
			<a href="/todo_list" class="myButton">VIEW TO DO LIST</a><br><br>
			<a href="/account" class="myButton">VIEW ACCOUNT</a><br><br>
      	</div>
	{% else %}
		<form method='GET' action ='/login'><button href="/login" class="myButton">LOGIN</button><br>
		<form method='GET' action ='/register'><button href="/register" class="myButton">REGISTER</button></form>

	{% endif%}
	

{% endblock content %}