{% extends "layout.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">


<div class="newListing" align="center">
	<form method="POST" action="/task/new">
		<h2>New Task</h2>
		{{ form.hidden_tag() }}
		<p>
			<!-- Task Name<br> -->
			{{ form.title(placeholder="Task Name") }}<br><br><br>
			<!-- Brief description<br> -->
			{{ form.description(placeholder="Brief description") }}<br><br><br>
			
			<p style='text-align: center;'><button type="button" onclick="show();" id='btn'>+ Add Deadline</button><br><br></p>
			
			<!-- Date picker -->
			<p style='text-align: center;'> 
				<div id="datetimepicker">
				{{ form.due() }} 
				</div>
			</p>  <br><br>
			


			{{ form.submit(class="myButton", align="center") }}
		
	</form>
</div>

<script type="text/javascript">
	document.getElementById("datetimepicker").style.display = 'none';
	function show(){
		var elt = document.getElementById("datetimepicker");
		if (elt.style.display === 'none'){
			document.getElementById('btn').innerHTML = '- Hide';
			elt.style.display = 'block';
		}
		else{
			document.getElementById('btn').innerHTML = '+ Add Deadline';
			document.getElementById('due').value = null;
			elt.style.display = 'none';
		}
	}
</script>

{% endblock %}