{% extends "layout.html" %}
{% block content %}

<!---to do list--->
<div align="center" id="main" style="position:relative;top:-60px;">
    <div class="row">
    <div class="col-sm">
	    <h2>Tasks</h2>
    </div>
    <div class="col-sm" style="padding-top: 15px;">
	<form method='GET' action ='/task/new'><button href="/task/new" class="addButton" style="float: right; ">+</button></form>
    </div>
    </div>
        <div class="list-group-flush" id="tasks">

		{% for task in tasks.items %}
            <div class="list-group-item list-group-item-primary">
			{% if task.complete %}
                <div style="text-decoration: line-through;">
			{% else %}
                <div style="text-decoration: none;">
			{% endif %}
			<a href="{{ url_for('view', task_id=task.id )}}" target="_blank">{{ task.title }}</a><br>
			{% if task.due != None %}
				Due: {{ task.due.month|string+'/'+task.due.day|string+'/'+ task.due.year|string }}<br>
			{% else %}
				Undated<br>
			{% endif %}
            </div>
			<a href="/task/{{ task.id }}/complete">Complete?</a> 
			<a href="/task/{{ task.id }}/delete">Delete?</a>

            </div>

		{% endfor %}
         </div><br>
	<p>
		Pages:
			{% if page_num %}
				{% for page_num in tasks.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
					{% if tasks.page == page_num %}
						<a href="{{ url_for('ToDoList', page=page_num) }}" style="font-weight: bold;">{{ page_num }}</a>
					{% else %}
						<a href="{{ url_for('ToDoList', page=page_num) }}">{{ page_num }}</a>
					{% endif %}
				{% endfor %}
			{% else %}
				<a href="{{ url_for('ToDoList', page=1) }}" style="font-weight: bold;">1</a>
			{% endif %}
	</p>

</div>

{% endblock content %}