{% extends "layout.html" %}
{% block content %}

<!---to do list--->
<div align="center">

	<h1>To Do List</h1>
	{% for task in tasks.items %}
	<div class="task-block">
		{{ task.title }}<br>
		{% if task.due != null %}
			{{ task.due }}
		{% endif %}
	{% endfor %}
	<p>Pages:
		{% if page_num %}
			{% for page_num in tasks.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
				{% if tasks.page == page_num %}
					<a href="{{ url_for('ToDoList', page=page_num) }}" style="font-weight: bold;">{{ page_num }}</a>
				{% else %}
					<a href="{{ url_for('ToDoList', page=page_num) }}">{{ page_num }}</a>
				{% endif %}
			{% endfor %}
		{% else %}
			<a href="{{ url_for('ToDoList', page=1) }}" style="font-weight: bold;">1</a>
		{% endif %}
	</p>

</div>

{% endblock content %}